<!DOCTYPE html>
<html>
    <head>
        <title>basic ejs application</title>
    </head>
    <body>
        <h1>Transflower Learning Pvt. Ltd.</h1>
        <hr>
        <hr>
          <u><h2>Hello!! it's <%=name%> 😊</h2></u>
         <i><p><b>FullName: </b><%=FullName%></p></i>
         <i><p><b>Age: </b><%=age%></p></i>
         <i><p><b>Education: </b><%=education%></p></i>
         <i><p><b>Email: </b><%=email%></p></i>
         <i><p><b>Mobile no: </b><%=contact%></p></i>
    </body>
</html>